#header {
	color:white;
	text-align:center;
	padding:1px;
	background-color: black;
}

#text_bar {
	line-height:30px;
	background-color:#eeeeee;
	height:100px;
	width:400px;
	float:center;
	padding:0px;
}

#section {
	padding:1px;
	margin-top:1px;
	background-color: white;
	
}
#footer {
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:5px;
	
}

/*navigation*/
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #888888;
    background-color: #ffffff;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*mouse touch*/
li a:hover:not(.active) {
    background-color: #eeeeee;
}
/*is activing*/
li a.active {
    color: white;
    background-color: #000000;
}